<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnasa Games - Minigames and more!</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/landingStyles.css}">
    <link rel="stylesheet" th:href="@{/css/navbarStyles.css}">
    <link rel="stylesheet" th:href="@{/css/footerStyles.css}">
    <link rel="stylesheet" th:href="@{/css/homeStyles.css}">
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>